<h1>過去の投稿たち</h1>

<% @aaas.each do |aaa| %>

  <p><%= link_to aaa.title, aaa_path(aaa.id) %></p>

  <p>内容: <%= aaa.body %></p>

  <p>日付: <%= aaa.date %></p>

  <p>画像</p>
  <% if aaa.image.attached? %>
    <%= image_tag aaa.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

  <br>
<% end %>